*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 16rem;
    margin: auto;
}
h3, p{
    color: #442f8c;
    text-align: center;
}
a{
    color: #32216b;
}
.card{
    width: 15rem;
    height: 12rem;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #d7d7d7; 
    border-radius: 3px;
}
#totoro{
    display: block;
    width: 150px;
    margin: auto;
}
p > a {
    color: #86cc86;
}